@media (max-width: 2000px) and (min-width: 768px) {
    #body {
        background-color: #dddddd;
    }
    body h1 {
        border-bottom: 1px solid var(--color-divider);
        font-size: 1.65em;
        line-height: 1.4;
        margin: 64px 0 16px;
        padding-bottom: 4px;
        font-weight: bold;
    }
    body h2 {
        border-bottom: 1px solid var(--color-divider);
        font-size: 1.53em;
        line-height: 1.4;
        margin: 56px 0 16px;
        padding-bottom: 4px;
        font-weight: bold;
    }
    body h3 {
        font-size: 1.29em;
        line-height: 1.6;
        margin: 40px 0 16px;
        font-weight: bold;
    }
    body h4 {
        font-size: 1.06em;
        line-height: 1.6;
        margin: 40px 0 16px;
        font-weight: bold;
    }
    body h5 {
        font-size: .94em;
        line-height: 1.8;
        margin: 32px 0 16px;
    }
    body h6 {
        font-size: .84em;
        line-height: 1.8;
        margin: 32px 0 16px;
    }
    body code {
        background-color: black;
        color: #32be16;
    }
    body pre:has(code) {
        background-color: black;
        color: #32be16;
    }
    
    #footer {
        /* background-color: #181818; */
        background-color: #32be16;
        color: white;
        font-weight: bold;
    }
    #footer__outer {
        padding: 48px 32px;
    }
    #nav {
        font-size: 1.2rem;
    }
    #copyright {
        font-size: .6rem;
        margin-top: 16px;
    }
}
@media (max-width: 767px){
    #body {
        background-color: #dddddd;
    }
    body h1 {
        font-size: 1.6rem;
        font-weight: bold;
    }
    body h2 {
        font-size: 1.4rem;
        font-weight: bold;
    }
    body h3 {
        font-size: 1.2rem;
        font-weight: bold;
    }
    body h4 {
        font-size: 1rem;
        font-weight: bold;
    }
    body h5 {
        font-size: .9rem;
    }
    body h6 {
        font-size: .8rem;
    }
    #footer {
        /* background-color: #181818; */
        background-color: #32be16;
        color: white;
        font-weight: bold;
    }
    #footer__outer {
        padding: 48px 32px;
    }
    #nav {
        font-size: 1.2rem;
    }
    #copyright {
        font-size: .6rem;
        margin-top: 16px;
    }
    body code {
        background-color: black;
        color: #32be16;
    }
    body pre:has(code) {
        background-color: black;
        color: #32be16;
    }
}