#body {
  background-color: #dddddd;
}
html {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
}
.font-style {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
}
pre p,
li {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1rem;
}
#introduce__content {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
  font-size: 0.9rem;
}
ul li {
  list-style: disc;
}
pre {
  white-space: pre-wrap;
  word-break: break-all;
}
textarea[name='comment_body'] {
  width: 100%;
}
#toc__content li {
  text-decoration-line: underline;
}
@media (max-width: 2000px) and (min-width: 768px) {
  body h1 {
    border-bottom: 1px solid var(--color-divider);
    font-size: 1.65em;
    line-height: 1.4;
    margin: 64px 0 16px;
    padding-bottom: 4px;
    font-weight: bold;
  }
  body h2 {
    border-bottom: 1px solid var(--color-divider);
    font-size: 1.53em;
    line-height: 1.4;
    margin: 56px 0 16px;
    padding-bottom: 4px;
    font-weight: bold;
  }
  body h3 {
    font-size: 1.29em;
    line-height: 1.6;
    margin: 40px 0 16px;
    font-weight: bold;
  }
  body h4 {
    font-size: 1.06em;
    line-height: 1.6;
    margin: 40px 0 16px;
    font-weight: bold;
  }
  body h5 {
    font-size: 0.94em;
    line-height: 1.8;
    margin: 32px 0 16px;
  }
  body h6 {
    font-size: 0.84em;
    line-height: 1.8;
    margin: 32px 0 16px;
  }
  code {
    display: inline-block;
    padding: 5px; /* 余白を追加 */
    background-color: black;
    color: #32be16;
    width: 100%;
  }
  form {
    margin: 25px 0;
  }
  .comment__outer {
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .form__outer {
    padding: 24px 90px;
  }
  div.cover {
    height: 437px;
    background-color: #666666a1;
    position: absolute;
    width: 49%;
    text-align: center;
    padding: 200px 0;
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
  }
  li.MuiBreadcrumbs-li {
    font-size: 0.9rem;
  }
  li.MuiBreadcrumbs-li p {
    font-size: 0.9rem;
  }

  #footer {
    background-color: #32be16;
    color: white;
    font-weight: bold;
  }
  #footer__outer {
    padding: 48px 32px;
  }
  #nav {
    font-size: 1.2rem;
  }
  #copyright {
    font-size: 0.6rem;
    margin-top: 16px;
  }
}
@media (max-width: 767px) {
  body h1 {
    font-size: 1.6rem;
    font-weight: bold;
  }
  body h2 {
    font-size: 1.4rem;
    font-weight: bold;
  }
  body h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  body h4 {
    font-size: 1rem;
    font-weight: bold;
  }
  body h5 {
    font-size: 0.9rem;
  }
  body h6 {
    font-size: 0.8rem;
  }
  form {
    margin: 20px 0;
  }
  #footer {
    margin-top: 25px;
    background-color: #32be16;
    color: white;
    font-weight: bold;
  }
  #footer__outer {
    padding: 48px 32px;
  }
  #nav {
    font-size: 1.2rem;
  }
  #copyright {
    font-size: 0.6rem;
    margin-top: 16px;
  }
  code {
    display: inline-block;
    padding: 5px; /* 余白を追加 */
    background-color: black;
    color: #32be16;
    width: 100%;
  }
  .comment__outer {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .form__outer {
    padding: 15px 20px;
  }
  div.cover {
    height: 437px;
    background-color: #666666a1;
    position: absolute;
    width: 83%;
    text-align: center;
    padding: 200px 0;
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
  }
}
